<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid"></div>
  <h1>
    Página da tripulação</h1>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">

    Adicionar tripulação
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Editar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Perto</button>
          <button type="button" class="btn btn-primary">
            Salvar alterações</button>
        </div>
      </div>
    </div>
  </div>
</nav>


<table class="table">
  <thead>
    <tr>
      <th scope="col">
        Primeiro nome</th>
      <th scope="col">
        Sobrenome</th>
      <th scope="col">Nacionalidade</th>
      <th scope="col">
        Título</th>
      <th scope="col">
        Dias a Bordo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Diário &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Renda total</th>
     
      <th scope="col">
        Moeda</th>
      <th scope="col">
        Editar</th>
      <th scope="col">
        Página do cartão</th>


    </tr>
  </thead>
  <tbody>

    <th>Mert</th>
    <th>Yiğit</th>
    <th>Turkish</th>
    <th>Engineer</th>
    <th><form oninput="res.value=parseInt(a.value)*parseInt(b.value);">
 	
      <input type="number" name="a" value=""/>
      
      
      <input type="number" name="b" value="">
      
      <output  name="res"></output>
    </form></th>
   
    
    <th>USD</th>
    
    <th>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Editar
      </button>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                Certificados</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              Desenvolvedor Java Jr.
            </div>

          </div>
        </div>
      </div>
      <button class="btn btn-info">
        Excluir</button>
    </th>
    <th>
      <button type="button" class="btn btn-link" routerLink="/cardPages">
        Página do cartão</button>
    </th>


  </tbody>
  <tbody>

    <th>Charles</th>
    <th>Franco</th>
    <th>French</th>
    <th>Captain</th>
    <th><form oninput="res.value=parseInt(a.value)*parseInt(b.value);">
 	
      <input type="number" name="a" value=""/>
      
      
      <input type="number" name="b" value="">
      
      <output  name="res"></output>
    </form></th>
   
    
    <th>USD</th>
    
    <th>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Editar
      </button>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                Certificados</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              Desenvolvedor Java Jr.
            </div>

          </div>
        </div>
      </div>
      <button class="btn btn-info">
        Excluir</button>
    </th>
    <th>
      <button type="button" class="btn btn-link" routerLink="/cardPages">
        Página do cartão</button>
    </th>

  </tbody>
  <tbody>

    <th>William</th>
    <th>White</th>
    <th>English</th>
    <th>Cooker</th>
    <th><form oninput="res.value=parseInt(a.value)*parseInt(b.value);">
 	
      <input type="number" name="a" value=""/>
      
      
      <input type="number" name="b" value="">
      
      <output  name="res"></output>
    </form></th>
   
    
    <th>USD</th>
    
    <th>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Editar
      </button>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                Certificados</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              Desenvolvedor Java Jr.
            </div>

          </div>
        </div>
      </div>
      <button class="btn btn-info">
        Excluir</button>
    </th>
    <th>
      <button type="button" class="btn btn-link" routerLink="/cardPages">
        Página do cartão</button>
    </th>
  </tbody>
  <tbody>

    <th>Mark</th>
    <th>Thomas</th>
    <th>American</th>
    <th>Engineer</th>
    <th><form oninput="res.value=parseInt(a.value)*parseInt(b.value);">
 	
      <input type="number" name="a" value=""/>
      
      
      <input type="number" name="b" value="">
      
      <output  name="res"></output>
    </form></th>
   
    
    <th>USD</th>
    
    <th>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Editar
      </button>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                Certificados</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              Desenvolvedor Java Jr.
            </div>

          </div>
        </div>
      </div>
      <button class="btn btn-info">
        Excluir</button>
    </th>
    <th>
      <button type="button" class="btn btn-link" routerLink="/cardPages">
        Página do cartão</button>
    </th>
  </tbody>
  <tbody>

    <th>James</th>
    <th>Rodrigo</th>
    <th>Spanish</th>
    <th>Crew Member</th>
    <th><form oninput="res.value=parseInt(a.value)*parseInt(b.value);">
 	
      <input type="number" name="a" value=""/>
      
      
      <input type="number" name="b" value="">
      
      <output  name="res"></output>
    </form></th>
   
    
    <th>USD</th>
    

    <th>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Editar
      </button>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                Certificados</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              Desenvolvedor Java Jr.
            </div>

          </div>
        </div>
      </div>
      <button class="btn btn-info">
        Excluir</button>
    </th>
    <th>
      <button type="button" class="btn btn-link" routerLink="/cardPages">
        Página do cartão</button>
    </th>

  </tbody>
</table>